@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto&display=swap');


body {
	color: #93B1A6;
	background-color: #000;
	font-family: 'Roboto', sans-serif;
}

.box {
	max-width: 700px;
  	margin: 50px auto;
	background-color: #183D3D;
	padding: 20px;
	border-radius: 20px;
}

h1 {
	text-align: center;
}

p {
	display: inline;
}

.item {
	margin: 20px 0;
	margin-left: 10px;
	background-color: #040D12;
	padding: 10px;
	border-radius: 10px;
}

footer {
	text-align: center;
}

button {
	background-color: #183D3D;
	border: none;
	color: #93B1A6;
}

.item:last-child {
	background-color: #183D3D;
}

form.item input {
	background-color: #183D3D;
	border: solid 2px #040D12;
	border-radius: 10px;
	width: 85%;
	height: 15px;
	padding: 10px;
}

form.item input::placeholder {
	font-family: 'Roboto', sans-serif;
}


